@font-face { font-family: Neon; src: url('../fonts/Neon.ttf'); } 


.topbar {
    background-color: #d99ce6d4;
    padding: 15px;
    padding-left: 129px;
    font-size: 35px;
    font-family: Neon;
    font-weight: bolder;
    text-shadow: 3px 4px 5px #5d1e5b;
}
.d-block {
    height: 30em;
    width: 100%;
}
.thumbnail {
    height: 21em;
    box-shadow: #213a42 0px 0px 4px 1px;
}
.captionn {
    display: block;
   margin-left: 7px;
    color: black;
    text-align: center;
    
    margin-top: 11px;
    box-shadow: -2px 0px 0px 0px mediumvioletred;
}
.title-body {
    margin-top: 1em;
    text-align: center;
    margin-bottom: 1em;
}
.scr {
    height: 101%;
    padding: 10px 10px 10px 25px;
    box-shadow: #213a42 0px 0px 4px 1px;
}
.search {
    box-shadow: #66a25b 0px 0px 2px 2px;
    border-radius: 4px;
    margin-bottom: 40px;
    padding: 10px;
}
.ovrchk {
    margin-top: 20px;
    padding: 5px;
    height: 15em;
    overflow: auto;
}
.left-side {
    padding: 5px 1px 5px 1px;
    box-shadow: #d0cdd4 0px 0 6px 1px;
    border-radius: 0px 20px 0 20px;
}
.list-gp {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    text-decoration: none;
}
.list-gp:hover {
    background-color: #f5f4ff;
    text-decoration: none;
}
.scrchk {
    margin-top: 20px;
    padding: 6px;
    margin-bottom: 20px;
}
.title {
    color: black;
   
}
.title:hover {
     text-decoration: none;
}
.icnmar {
    margin: 0 5px 0 20px;
}
.dvtable {
    padding: 1em;
}

/*  Blood Controller */

.createbtn {
    width: 20em;
    height: 3em;
    padding: 10px;
    font-size: 17px;
    font-family: sans-serif;
   /* background-color: #094a4c;*/
}
.top-para {
    text-align: center;
    margin: 15px;
}
.center-side {
    padding: 5px 1px 5px 1px;
    box-shadow: #d0cdd4 0px 0 6px 1px;
    border-radius: 0px 20px 0 20px;
    margin-top: 3em;

}

.login {
    margin: 10% 29%;
    
    background-color: #f2ebfb;
    border-radius: 20px;
}
.lbl-login {
    padding: 1em;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}
.error {
    text-align: center;
    color: red;
    
    font-style: oblique;
}
.search-head {
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
    font-family: Neon;
    color: #3b4440;
    font-weight: bolder;
    text-shadow: 3px 3px 3px #030d25;
}