
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>


<div class="login">
    <p class="lbl-login">
        Login
    </p>
    @if (ViewBag.Error == "Error")
    {
        <p class="error" id="error">Login Failed: Check your login.</p>
    }
    
        <hr />
    
    <form style="padding: 2em 5em 5em;" action="~/Authentication/LoginUser" method="POST">
        <table>
            <tr>
                <td><label for="username">Email </label></td>
                <td>
                    <input class="form-control" type="text" name="username" id="username" placeholder="Enter User Name" required/>
                </td>
            </tr>
            <tr>
                <td><label for="password">Password </label></td>
                <td>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Enter password" required/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-success" style="width: 100%; margin: 10px 0;" type="submit" value="Login" /></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="~/Authentication/Register">Not Registerd? Register.</a></td>
            </tr>
        </table>
    </form>
</div>

@section scripts{
<script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $("#error").hide(1000).empty();
            }, 5000);
        });
    </script>
}