@model MedicalInformationShare.Models.Hospital

@{
    ViewBag.Title = "Register";
}

<link href="~/Content/Login.css" rel="stylesheet" />
<div class="register">
    <p class="lbl-login">Register</p>
    @if (ViewBag.Error != null)
    {
        <p class="cerror" id="error">@ViewBag.Error</p>
    }
    <form style="padding: 2em 5em 5em; margin-left: 1em;" id="register" action="~/Authentication/Register" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <label for="name">Hospital Name</label>
                </td>
                <td>
                    <input class="user-name" type="text" name="name" id="name" placeholder="Hospital Name" required/>
                </td>
            </tr>
            <tr>
                <td><label for="address">Address</label></td>
                <td>
                    <input class="user-name" type="text" name="address" id="address" placeholder="Address" required/>
                </td>
            </tr>
            <tr>
                <td><label for="phone">Phone</label></td>
                <td>
                    <input class="user-name" type="text" name="phone" id="phone" placeholder="Phone No" required/>
                </td>
            </tr>
            <tr>
                <td><label for="email">Email</label></td>
                <td>
                    <input class="user-name" type="text" name="email" id="email" placeholder="Email Id" required/>
                </td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input class="user-name" type="password" name="password" id="password" placeholder="Password" required />
                </td>
            </tr>
            <tr>
                <td><label for="cpassword">Confirm Password</label></td>
                <td>
                    <input class="user-name" type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" required />
                </td>
            </tr>
            <tr>
                <td><label for="image">Image</label></td>
                <td>
                    <input class="" type="file" name="image" id="image" required/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn animate-btn" style="width: 100%; margin: 10px 0;" type="submit" value="REGISTER"/></td>
            </tr>

        </table>
    </form>

</div>
@section scripts
{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>

        $(document).ready(function () {
            setTimeout(function () {
                $("#warningLabel").hide(1000).empty();
            }, 5000);


            $("#register").validate({
                rules: {
                    name: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength:5
                    },
                    cpassword: {
                        minlength: 5,
                        equalTo : "#password"
                    },
                    phone: {
                        required: true,
                        number: true
                    },
                    image: {
                        required: true,
                    },
                    address: "required"


                },
                messages: {
                    name: "Please Enter Hospital Name",
                    email: {
                        required: "Please Enter Hospital Email id",
                        email: "Email id not correct"
                    },
                    password: {
                        required: "Please Enter Your Password",
                        minlength: "Minimum length is 5"
                    },
                    cpassword: {
                        minlength: "Minimum length is 5",
                        equalTo: "Password not matched"
                    },
                    phone: {
                        required: "Please Enter Your Phone No",
                        number: "Number should not contain cahracter"
                    },
                    image: {
                        required: "Please Select Hospital Cover Photo"
                    },
                    address: "Please Enter your Address"

                }
            });
        });

    </script>

}