USE [master]
GO
/****** Object:  Database [MedicalInformationShare]    Script Date: 6/3/2020 2:34:07 AM ******/
CREATE DATABASE [MedicalInformationShare]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedicalInformationShare', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MedicalInformationShare.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MedicalInformationShare_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MedicalInformationShare_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedicalInformationShare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedicalInformationShare]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/3/2020 2:34:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bloods]    Script Date: 6/3/2020 2:34:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bloods](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BloodGroup] [nvarchar](max) NOT NULL,
	[AvailableBag] [int] NOT NULL,
	[HospitalId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Bloods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 6/3/2020 2:34:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[HospitalId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Doctors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GasInventories]    Script Date: 6/3/2020 2:34:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GasInventories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Amount] [float] NOT NULL,
	[Unit] [nvarchar](max) NULL,
	[HospitalId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GasInventories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hospitals]    Script Date: 6/3/2020 2:34:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospitals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Hospitals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 6/3/2020 2:34:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Measurement] [nvarchar](max) NOT NULL,
	[Company] [nvarchar](max) NOT NULL,
	[HospitalId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Medicines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OTInstruments]    Script Date: 6/3/2020 2:34:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTInstruments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Amount] [int] NOT NULL,
	[HospitalId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OTInstruments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WardInfoes]    Script Date: 6/3/2020 2:34:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WardInfoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GeneralWard] [int] NOT NULL,
	[Icu] [int] NOT NULL,
	[Ccu] [int] NOT NULL,
	[HospitalId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.WardInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Bloods] ON 

INSERT [dbo].[Bloods] ([Id], [BloodGroup], [AvailableBag], [HospitalId]) VALUES (1, N'A+', 10, 1)
INSERT [dbo].[Bloods] ([Id], [BloodGroup], [AvailableBag], [HospitalId]) VALUES (2, N'B+', 15, 1)
INSERT [dbo].[Bloods] ([Id], [BloodGroup], [AvailableBag], [HospitalId]) VALUES (3, N'AB+', 10, 1)
SET IDENTITY_INSERT [dbo].[Bloods] OFF
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([Id], [Name], [Designation], [Image], [HospitalId]) VALUES (8, N'Refat Khan Pathan', N'MBBS', N'Photos/Doctor/fa9c0f4c-1da2-4296-a360-74ae4d68ed50.jpg', 1)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
SET IDENTITY_INSERT [dbo].[GasInventories] ON 

INSERT [dbo].[GasInventories] ([Id], [Name], [Amount], [Unit], [HospitalId]) VALUES (1, N'Oxyzen', 10, N'Cylinder', 1)
INSERT [dbo].[GasInventories] ([Id], [Name], [Amount], [Unit], [HospitalId]) VALUES (2, N'Hydrozen', 10, N'Cylinder', 1)
INSERT [dbo].[GasInventories] ([Id], [Name], [Amount], [Unit], [HospitalId]) VALUES (3, N'Hydroxil', 5, N'Cylinder', 1)
SET IDENTITY_INSERT [dbo].[GasInventories] OFF
SET IDENTITY_INSERT [dbo].[Hospitals] ON 

INSERT [dbo].[Hospitals] ([Id], [Name], [Address], [Image], [Phone], [Email], [Password]) VALUES (1, N'BGC Medical', N'Chandonaish', NULL, N'01755001451', N'refatkhan93@gmail.com', N'123456')
SET IDENTITY_INSERT [dbo].[Hospitals] OFF
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([Id], [Name], [Measurement], [Company], [HospitalId]) VALUES (1, N'Napa', N'15', N'Square', 1)
INSERT [dbo].[Medicines] ([Id], [Name], [Measurement], [Company], [HospitalId]) VALUES (2, N'Napa Extra', N'30', N'Square', 1)
INSERT [dbo].[Medicines] ([Id], [Name], [Measurement], [Company], [HospitalId]) VALUES (1002, N'Napa Ex', N'12', N'Square', 1)
SET IDENTITY_INSERT [dbo].[Medicines] OFF
SET IDENTITY_INSERT [dbo].[OTInstruments] ON 

INSERT [dbo].[OTInstruments] ([Id], [Name], [Amount], [HospitalId]) VALUES (1, N'Gyclion Acid', 5, 1)
INSERT [dbo].[OTInstruments] ([Id], [Name], [Amount], [HospitalId]) VALUES (2, N'OT Mask', 100, 1)
SET IDENTITY_INSERT [dbo].[OTInstruments] OFF
SET IDENTITY_INSERT [dbo].[WardInfoes] ON 

INSERT [dbo].[WardInfoes] ([Id], [GeneralWard], [Icu], [Ccu], [HospitalId]) VALUES (1, 15, 2, 5, 1)
SET IDENTITY_INSERT [dbo].[WardInfoes] OFF
USE [master]
GO
